body {
    background-image: url("https://wallpapercave.com/wp/wp2700080.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-repeat: repeat-y;
    background-size: 100%;
}

